# Optional if you use ~/.aws/credentials, aws sso login, or an IAM role.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1

# Lambda deployment config
PROMETHEUS_URL=ab79aca91a4eb4ddbaec8a08d035f2f3-17085588.us-east-1.elb.amazonaws.com:9090
DEFAULT_CLUSTER=eks-cluster
DEFAULT_NAMESPACE=boutique
LOG_GROUP_NAME=/eks/boutique/pods

# Streamlit app / Bedrock Agent config
BEDROCK_AGENT_ID=
BEDROCK_AGENT_ALIAS_ID=TSTALIASID
